<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coresoft.rfidread"
    android:versionCode="6"
    android:versionName="1.00.006" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
	
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
	<uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ReadActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SysInfoActivity"
            android:launchMode="singleTask"
            android:label="@string/pref_title_sys_info" >
        </activity>

        <activity
            android:name=".ViewLiuCheng"
            android:launchMode="singleTask" >
        </activity>

        <activity
            android:name=".DisplayActivity"
            android:launchMode="singleTask" >
        </activity>

        <activity
            android:name=".AddLiuCheng"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="com.coresoft.zxing.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>

        <service android:name="com.coresoft.service.MainService" >
            <intent-filter>
                <action android:name="com.rfid.service.MainService" >
                </action>
            </intent-filter>
        </service>
    </application>
	
</manifest>
